#matchtableB {
    text-align: center;
    background: #333;
    color: white;
}

/*Registration Styling END*/
#BODY {
    width: 100%;
    height: 100vh;
    background: url("../images/wind.jpg") top center;
    background-size: cover;
    position: relative;
}

.login-box {
    position: relative;
    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
}

.lb-header {
    position: relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    height: 28px;
}

.lb-header a {
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.lb-header .active {
    color: #029f5b;
    font-size: 18px;
}

.social-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
}

.social-login a {
    position: relative;
    float: left;
    width: calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align: center;
}

.social-login a i {
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
}

.social-login a:first-child {
    background-color: #49639F;
}

.social-login a:last-child {
    background-color: #DF4A32;
}

.email-login,
.email-signup {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.u-form-group {
    width: 100%;
    margin-bottom: 10px;
}

.u-form-group input[type="email"],
.u-form-group input[type="password"] {
    width: calc(50% - 22px);
    height: 45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size: 0.8rem;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.u-form-group input:focus {
    border-color: #358efb;
}

.u-form-group button {
    width: 50%;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
}

.forgot-password {
    width: 50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
}

/*Registration Styling END*/

/*Custom tab width styling start*/
#maxwidth {
    max-width: 1200px;
}

/*@dev styling for centering and float left and right*/
#floatLeft {
    float: left;
}

#floatMiddle {
    vertical-align: middle;

}

#floatRight {
    float: right;
}

/*@dev bold text styling start*/

.boldText {
    font-weight: bold;
}

/*Custom tab width styling end*/
/* for search page*/

/*
http://azmind.com/premium/marco/v2-1/forms/login-forms.html

http://azmind.com/premium/marco/v2-1/layout-5/index.html
*/


/***** Top content *****/

.inner-bg {
    padding: 40px 0 170px 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 {
    color: #fff;
}

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .description a {
    color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
    border-bottom: 1px dotted #fff;
}

.top-content .top-big-link {
    margin-top: 35px;
}

.form-box {
    padding-top: 40px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 {
    margin-top: 0;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

form .form-bottom textarea {
    height: 100px;
}

form .form-bottom button.btn {
    min-width: 105px;
}

form .form-bottom .input-error {
    border-color: #19b9e7;
}

form.registration-form fieldset {
    display: none;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .navbar {
        padding-top: 0;
    }

    .navbar.navbar-no-bg {
        background: #333;
        background: rgba(51, 51, 51, 0.9);
    }

    .navbar-brand {
        height: 60px;
        margin-left: 15px;
    }

    .navbar-collapse {
        border: 0;
    }

    .navbar-toggle {
        margin-top: 12px;
    }

    .inner-bg {
        padding: 40px 0 110px 0;
    }

    .top-content .top-big-link {
        margin-top: 25px;
    }

    .top-content .top-big-link a.btn {
        margin-top: 10px;
    }

    .form-bottom {
        padding-bottom: 25px;
    }

    form .form-bottom button.btn {
        margin-bottom: 5px;
    }

}

@media (max-width: 415px) {

    h1,
    h2 {
        font-size: 32px;
    }

}


/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    /* logo */
    .navbar-brand {
        background-image: url(../img/logo@2x.png) !important;
        background-repeat: no-repeat !important;
        background-size: 123px 49px !important;
    }

}